[defaults]

roles_path = ./roles/
remote_user = ans_user

# vault_password_file=./.vault-password

log_path = ./logs/ansible.log
inventory = prep1_inv/rhel_hosts


callback_result_format = yaml
display_skipped_hosts = false
callbacks_enabled=ansible.posix,ansible.posix.profile_tasks,ansible.posix.profile_roles


[privilege_escalation]
become = true
become_user = root
become_method = sudo
